<div id="auth_login" class="pull-right">
  <% if logged_in? %>
    <img src="<%= current_user.avatar %>" id="avatar" class="img-circle" />
    <P>Logged in as <%= current_user %> | <%= link_to "Logout", "/logout" %></p>
  <% else %>
    Log in with:
    <%= image_tag "twitter_64.png", size: "32x32", alt: "Twitter", id: "twitter-login" %>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "32x32", alt: "Facebook" %>
    </a>
    <a href="/auth/google_oauth2" class="auth_provider">
      <%= image_tag "google_apps_64.png", size: "32x32", alt: "Google" %>
    </a>
  <% end %>
</div>