<% if @status == :first %> 
  <% publish_to "/users/#{@user.id}" do %>
    $("#invites").prepend("<%= j render 'invites/invite', invite: @invite %>");
    var invite_count = $("span#invite_count")

    if (invite_count.text() === "0") {
      invite_count.addClass("badge-important");
    }

    invite_count.text(Number(invite_count.text())+1);
    $("title").text("Enigmates (<%=@user.unread_invites.count%>)");
  <% end %>

  <% publish_to "/attempts/#{@attempt.id}" do %>
    $("#stream").prepend("<p><%=@message%></P>")
    <% if @attempt.mode == "versus" %>
      $(".versus-scores").append("<%= j render 'attempts/modes/player_score', {user: @user} %>");
    <% elsif @attempt.mode == "co-op" %>
      $("#player-list").append("<p><%=@user%></p>")
    <% end %>
  <% end %>

<% elsif @status == :repeat %>
  <% publish_to "/users/#{@user.id}" do %>
    if ($("span#invite_count").text() === "0") {
      $("span#invite_count").addClass("badge-important");
    }
  <% end %>

  <% publish_to "/attempts/#{@attempt.id}" do %>
    $("#stream").prepend("<p><%=@warning%></P>")
  <% end %>
<% elsif @status == :limit %>
  <% publish_to "/attempts/#{@attempt.id}" do %>
    $("#stream").prepend("<p><%=@warning%></P>")
  <% end %>

<% else %>
  $("#stream").prepend("<P>That player does not exist!</P>");
<% end %>

$("#friend").val("");