<h1>Listing pieces</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pieces.each do |piece| %>
  <tr>
    <td><%= piece.content %></td>
    <td><%= link_to 'Show', piece %></td>
    <td><%= link_to 'Edit', edit_piece_path(piece) %></td>
    <td><%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Piece', new_piece_path %>
