<% if @guess %>
  <% @id = @guess.piece.content.gsub(" ", "") %>

  <% publish_to "/attempts/#{@attempt.id}" do %>
    var score = $("span#puzzle-score-<%=@guess.user.id%>")

    score.text(Number(score.text())+1);

    <% if @attempt.player_score(@guess.user.id) == @attempt.puzzle.total %>
      $("input#guess_field").remove();
      $(".guess_area").append("<h5><%=@guess.user%> has completed this puzzle!</h5>");
    <% end %>
  <% end %>

  var target = $("div#stream")
  target.prepend("<%= j render 'guesses/guess', guess: @guess %>")
  
  <% if @attempt.puzzle.format == "map" %>
    d3.selectAll("#<%= @id %>").style("fill", "#1abc9c");
  <% else %>
    $("#list-item-<%= @guess.piece.id %>").text("<%= @guess.piece.content.titleize %>")
  <% end %>  

  $("input#guess_field").val("")
<% end %>