<h1>Listing guesses</h1>

<table>
  <tr>
    <th>Piece</th>
    <th>Attempt</th>
    <th>Correct</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guesses.each do |guess| %>
  <tr>
    <td><%= guess.piece_id %></td>
    <td><%= guess.attempt_id %></td>
    <td><%= guess.correct %></td>
    <td><%= link_to 'Show', guess %></td>
    <td><%= link_to 'Edit', edit_guess_path(guess) %></td>
    <td><%= link_to 'Destroy', guess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guess', new_guess_path %>
