<p id="notice"><%= notice %></p>

<p>
  <b>Piece:</b>
  <%= @guess.piece_id %>
</p>

<p>
  <b>Attempt:</b>
  <%= @guess.attempt_id %>
</p>

<p>
  <b>Correct:</b>
  <%= @guess.correct %>
</p>


<%= link_to 'Edit', edit_guess_path(@guess) %> |
<%= link_to 'Back', guesses_path %>
