<table class="table table-striped row quiz-table">
  <th class="span6"><%= @puzzle.hint_noun %></th>
  <th class="span3"><%= @puzzle.content_noun %></th>
  <% @puzzle.pieces.each do |piece| %>
  <tr>
    <td><%= piece.hint %></td>
    <td id="list-item-<%= piece.id %>">
      <% if @attempt.mode == "co-op" %>
      <%= piece.content.titleize if @attempt.piece_solved?(piece.id) %>
      <% elsif @attempt.mode == "versus" %>
      <%= piece.content.titleize if @attempt.piece_solved_by_player?(piece.id, current_user.id) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>