<div class="row">
  <div class="span9">
    <div class="row">
      <div class="span5">
        <h3>"<%= @puzzle %>"</h3>
        <ul>
          <li>Topic: <%= @puzzle.topic.titleize %></li>
          <li>Mode: <%= @attempt.mode.capitalize %></li>
        </ul>
        <input id="guess_field" autocomplete="off" type="text" name="guess" placeholder="Enter a <%=@puzzle.content_noun%>"></input>
      </div>

      <!-- Any scoreboards should be 4 spans long -->
      <% if @attempt.mode == "versus" %>
        <%= render "attempts/modes/versus" %>
      <% elsif @attempt.mode == "co-op" %>
        <%= render "attempts/modes/co-op" %>
      <% end %>
    </div>

    <div class="row">
      <div class="span9">
        <% if @puzzle.format == "map" %>
          <%= render "puzzles/formats/map" %>
        <% elsif @puzzle.format == "list" %>
          <%= render "puzzles/formats/list" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span3">
    <%= render 'shared/sidebar' %>
  </div>
</div>

<%= subscribe_to "/attempts/#{@attempt.id}" %>

<script type="text/javascript">
$(document).ready(function(){
   
    $.ajax({
      url: "<%=@attempt.id%>/alerts",
      type: "POST"
    })

  $("input#guess_field").focus();
  $("input#guess_field").on("keyup", function(){
    $.ajax({
      url: "<%=@attempt.id%>/guesses",
      data: {"guess" : $("input#guess_field").val()},
      type: "POST"
    })
  });

  <% if @puzzle.format == "map" %>
    var svg = d3.select('#svg').append('svg');
    var group = svg.append('g');
    var map = d3.geo.albersUsa();

    d3.json('/assets/us-states.json', function(collection) {
      group.selectAll('path')
        .data(collection.features)
        .enter().append('path')
        .attr('d', d3.geo.path().projection(map))
        .attr('id', function(d){
          return d.properties.name.replace(/\s+/g, '')
        })
        .style('fill', 'white')
        .style('stroke', 'white')
        .style('stroke-width', 1);
    });
  <% end %>
})
</script>