<div class="row">
  <div class="span5">
    <h2><%= @puzzle %></h2>
    <h4>(<%= @puzzle.topic.titleize %>, <%= @attempt.mode.capitalize %>)</h4>
    <form action="/invites/<%= @attempt.id %>" method="post" data-remote="true"> 
      <input type="text" id="friend" name="name" autocomplete="off" placeholder="Enter a friend's name!"></input>
    </form>
  </div>

  <!-- Any scoreboards should be 4 spans long -->
  <% if @attempt.mode == "versus" %>
    <%= render "attempts/versus" %>
  <% else %>
    <%= render "attempts/coop" %>
  <% end %>

  <div class="span3">
    <input id="guess_field" autocomplete="off" type="text" name="guess" placeholder="Enter a <%=@puzzle.content_noun%>"></input>
  </div>
</div>

<div class="row">
  <div class="span9">
    <svg id="svg"></svg>
  </div>

  <div class="span3">
    <%= render 'shared/inplay' %>
  </div>
</div>

<%= subscribe_to "/attempts/#{@attempt.id}" %>

<script type="text/javascript">
$(document).ready(function(){
  $("input#guess_field").focus();
  $("input#guess_field").on("keyup", function(){
    $.ajax({
      url: "<%=@attempt.id%>/guesses",
      data: {"guess" : $("input#guess_field").val()},
      type: "POST"
    })
  });

  var svg = d3.select('#svg').append('svg');
  var group = svg.append('g');
  var map = d3.geo.albersUsa();

  d3.json('/assets/us-states.json', function(collection) {
    group.selectAll('path')
      .data(collection.features)
      .enter().append('path')
      .attr('d', d3.geo.path().projection(map))
      .attr('id', function(d){
        return d.properties.name.replace(/\s+/g, '')
      })
      .style('fill', 'white')
      .style('stroke', 'white')
      .style('stroke-width', 1);
  });
})
</script>