<div class="row">
  <div class="span9 puzzle-attempt">
    <div class="row puzzle-attempt-details">
      <div class="span5">
        <h3><%= @puzzle %></h3>
        <ul class="puzzle-details">
          <li>Topic: <%= @puzzle.topic.titleize %></li>
          <li>Mode: <%= @attempt.mode.capitalize %></li>
        </ul>
      </div>

      <!-- Any scoreboards should be 4 spans long -->
      <% if @attempt.mode == "versus" %>
        <%= render "attempts/modes/versus" %>
      <% elsif @attempt.mode == "co-op" %>
        <%= render "attempts/modes/co-op" %>
      <% end %>
    </div>

    <div class="row">
      <div class="span9">
        <input id="guess_field" autocomplete="off" type="text" name="guess" placeholder="Enter a <%=@puzzle.content_noun%> here:"></input>
        <% if @puzzle.format == "map" %>
          <%= render "puzzles/formats/map" %>
        <% elsif @puzzle.format == "list" %>
          <%= render "puzzles/formats/list" %>
        <% elsif @puzzle.format == "quiz" %>
          <%= render "puzzles/formats/quiz" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span3 sidebar">
    <%= render 'shared/sidebar' %>
  </div>
</div>

<%= subscribe_to "/attempts/#{@attempt.id}" %>

<script type="text/javascript">
$(document).ready(function(){
  $("input#guess_field").focus();
  
  $("input#guess_field").on("keyup", function(){
    $.ajax({
      url: "<%=@attempt.id%>/guesses",
      data: {"guess" : $("input#guess_field").val()},
      type: "POST"
    })
  });
})

window.onload = function(){
  $.ajax({
      url: "<%=@attempt.id%>/messages",
      data: {"message" : "enter"},
      type: "POST"
    })
};

window.onbeforeunload = function() {
  $.ajax({
    url: "<%=@attempt.id%>/messages",
    data: {"message" : "exit"},
    type: "POST"
  })
};
</script>