<!DOCTYPE html>
<html>
<head>
  <title>Enigmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <%= favicon_link_tag "enigmates.ico" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <%= render "shared/header/navbar" %>
  <%= render "shared/notices" %>
  <%= yield %>
  <%= render "shared/footer/footer" %>
  <%= subscribe_to "/users/#{current_user.id}" if logged_in? %>
</body>
</html>
