<!DOCTYPE html>
<html>
<head>
  <title>Enigmates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

  <%= render "shared/header" %>
  <%= render "shared/notices" %>
  <%= yield %>
  <%= render "shared/footer" %>

</body>
</html>
