<% if logged_in? %>
  Logged in as <%= current_user %> | <%= link_to "Logout", "/logout" %>
<% else %>
  <%= link_to "Connect With Facebook", "/auth/facebook" %> | <%= link_to "Connect With Google", "/auth/google_oauth2" %> | <%= link_to "Connect With Twitter", "/auth/twitter" %>
<% end %>

<h2>Listing puzzles</h2>

<ul>
  <% @puzzles.each do |puzzle| %>
    <li><%= link_to puzzle.name, puzzle_path(puzzle) %></li>
  <% end %>
</ul>
