<p id="notice"><%= notice %></p>

<h2><%= @puzzle.name %></h2>

<p>
  <b>Topic:</b>
  <%= @puzzle.topic %>
</p>

<p>
  <b>Pieces:</b>
  <ul>
  <% @puzzle.pieces.each do |piece| %>
    <li><%= piece %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', puzzles_path, class: "btn" %>
